@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');

* {
    padding: 1%;
    margin: 0%;
    font-family: sans-serif;
    
    
}
h1 {
    display: none;
}
h2 {
    font-size: 2.4em;
}
h3 {
    font-size: 1.5em;
}

ul {
    text-align: center;
}

.suscribers {
    padding: 5%;
    background-color: rgb(154, 155, 156);
    color: antiquewhite;
    font-size: 1.8em;
    text-align: center;
    font-family: sans-serif;
}

header {
    position: sticky;
    top: 5px;
    background-color: rgba(255, 255, 255, 0.5);
    z-index: 1;
    opacity: 60%;
}



header img {
    width: 20%;
    margin: auto;
    display: block;
    margin-top: 5%;
    opacity: 70%;
    filter: drop-shadow(2px 4px 8px #585858);
    
}

.navList {
    display: inline;
    text-transform: capitalize;
    font-size: 1.2em;
    text-align: center;
    padding: 0.5% 2%;
}

.navList a {
    text-decoration: none;
    color: rgb(48, 44, 44);
}

.navList:hover {
    background-color: rgba(250, 246, 246, 0.986);
}

.principal {
    display: flex;
    padding: 3%;
    justify-content: space-between;
}

main {
    width: 60%;
}
main .reporterName {
    font-family: 'Besley', serif;
}
main .photo {
    size: 600px;
}

main .newsContent {
display: flex;
}

main .newsContent p {
padding-right: 0 1%;
text-align: justify;
}

aside {
    width: 47%;
    border-left: 3px solid black;
}

aside .ads {
    display: flex;
    justify-content: center;
    flex-direction: column;
}
aside img {
    width: 90%;
}

.suscribe {
    margin: auto;
    border-top: 3px solid black;
    background-color: rgb(221, 221, 221);
    padding: 2% 0% 2% 10%;
    box-shadow: 2px 2px 2px 1px rgba(15, 15, 15, 0.9);
    margin-bottom: 3px;
}
form {
    display: flex;
    flex-direction: column;
}
form label.userInfo {
    justify-content: space-between;
    display: flex;
    width: 80%;
}
form input, form select {
    padding: 12px 20px;
       width: 80%;
}

form input[type="radio"]{
    width: 20%;
}

form label.userType {
    width: 40%;
}
form button {
    width: 20%;
    text-align: center;
    padding: 12px 20px;
    margin: auto;
    border-radius: 10px;
    box-shadow: 2px 2px 2px 1px rgba(15, 15, 15, 0.9);
}

img.joke {
    display: block;
    filter: saturate(150%);
    width: 70%;
    margin: auto;
}
p.joke {
    font-size: 4em;
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    color: rgb(87,28,51);
}
